extends template.pug 

block content
    div(x-data="view();" x-init="await data(); modal=false;" @data-change.camel.window="await data()")

        div.tabview.alternate
            .tabs(x-bind:class="user.userID?'three-wide':'two-wide'")
                a(href="#" x-bind:class="subtab=='userWrapper'?'selected':''" @click.prevent="subtab='userWrapper'") All Users
                a(href="#" x-bind:class="subtab=='userDetails'?'selected':''" @click.prevent="subtab='userDetails'" x-show="user.userID") User Details
                a(href="#" x-bind:class="subtab=='form'?'selected':''" @click.prevent="subtab='form'") Form
        
        #userWrapper(x-show="subtab=='userWrapper'")
            h2.contentHeader Users
            template(x-for="u in users" :key="u.userID")
                div.card.purple(x-bind:id="`user-${u.userID}`" @click="user = await getUser(u.userID); subtab='userDetails';")
                    .cardInfo
                        h2(x-text="u.name")
                        p(x-text="u.email")

        #userDetails(x-show="subtab=='userDetails'" class="detailsView")
            .selectContainer
                label(for="userID") Showing User:
                select#userID(name="userID" @change="user = await getUser($event.target.value)")
                    option(selected="" hidden="") ---
                    template(x-for="u in users" :key="u.userID")
                        option(x-bind:value="u.userID" x-text="u.email")
            .detailsBody
                h2(x-text="user.name")
                p
                    b UserID: #
                    span(x-text="user.userID")
                p
                    b Email: 
                    span(x-text="user.email")
                p
                    b Phone: 
                    span(x-text="user.phone")
                p
                    b Created At: 
                    span(x-text="new Date(user.created_at).toLocaleString()")

                p
                    b Administrator: 
                    span(x-text="user.admin? 'True' : 'False' ")

                p 
                    b Houses Created: 
                    span(x-text="`(${user.houses.length})`")
                p
                    b Contractors Invited: 
                    span(x-text="`(${user.contractors.length})`")
                .buttonBox
                    button(@click="modal='deleteUserConfirm'")
                        span.material-icons delete

        #userForm(x-show="subtab=='form'")
            h2.contentHeader Create Users
            form(@submit.prevent="tempUserID = await createUser($event.target); if(tempUserID) {subtab='userWrapper'; await data(); user=getUser(tempUserID);} else {modal='somethingWentWrongModal';}")
                .labelContainer
                    label(for="#userName") Name:  
                    input#userName(type="text", name="name", placeholder="name")

                .labelContainer
                    label(for="userPhone") Phone: 
                    input#userPhone(type="phone", name="phone", placeholder="telephone")
                
                .labelContainer
                    label(for="userEmail") Email: 
                    input#userEmail(type="email", name="email", placeholder="email")
                .labelContainer
                    label(for="userPassword") Password: 
                    input#userPassword(type="password", name="password", placeholder="password")
                
                .labelContainer
                    label(for="userAdmin") Administrator:
                    input#userAdmin(type="checkbox", name="admin" checked=false)
                input(type="submit", value="create user")

        .modalContainer(x-show="modal")
            .confirmModal(x-show="modal=='deleteUserConfirm'")
                h2.contentHeader Delete User
                p.confirmContent Are you sure you want to delete this user?
                .buttonBox(style="width:90%; margin-left:auto; margin-right:auto;")
                    button.destroyButton(@click="await destroy('administrator/user', user.userID); subtab='userWrapper'; modal=false") Yes
                    button.cancelButton(@click="modal=false") Cancel
            .confirmModal(x-show="modal=='somethingWentWrongModal'" x-cloak="")
                h2.contentHeader Ooops!
                p.confirmContent Something went wrong, please try again, and make sure to check your inputs again
                .buttonBox(style="width:60%; margin-left:auto; margin-right:auto;")
                    button.cancelButton(@click="modal=false;") Ok
        script
            include scripts/administrator.js