extends template.pug 

block content 
    div(x-data="view();")

        //
            These are links used for tabs
            Sauce for this is https://talltips.novate.co.uk/tabbed-content-using-alpine-js 
        a(href="#" x-on:click.prevent="tab='#houses'") houses 
        a(href="#" x-on:click.prevent="tab='#tasks'") tasks 
        a(href="#" x-on:click.prevent="tab='#contractors'") contractors 

        //- div(x-show="house", x-init="console.log(house)" x-data="h = []"
        //-         @show-house.camel.window="h = (await (await fetch(`/house/${house}`)).json()).content; console.log(h)")
        //-     template(x-for="ho in h")
        //-         h3(x-text="ho.address")
        //-         i(x-text="ho.name")
        //-         p(x-text="ho.description")

            
        // This content is tabbed, right?!
        div( x-show='tab=="#houses"' x-data="{houses: []}" x-init = "await fetchHouses() ; console.log('houses: ', houses)"
            @insert-house.camel.window="await fetchHouses();")
            h2 Houses
            div(id="createHouse")
                h3 CREATE HOUSE
                form(action="/house", method="post" @submit.prevent="await createHouse($event.target)")
                    input(type="text", name="address", placeholder="Address", required)
                    input(type="text", name="description" placeholder="Description")
                    input(type="text", name="name", placeholder="Name")
                    input(type="submit" value="create")
            ul
                template(x-for="h in houses" :key="h.houseID")
                    div(style="border:2px solid black;margin-bottom:10px;" x-bind:id="`house-${h.houseID}`")
                        h3(x-text="'houseID: ' + h.houseID + ' ' + h.address")
                        i(x-text="h.name")
                        p(x-text="h.description")
                        button(@click="await destroy('house', h.houseID, $event.target)") DELETE HOUSE
                        //- a(href="#" @click.prevent="house=h.houseID; window.dispatchEvent(showHouseEvent)") open
            
        div(x-show="tab=='#tasks'" x-data= "{tasks : [], expandTasks:true, expandSuggestions:true}" x-init="await fetchTasks(); console.log('tasks: ', tasks); await fetchSuggestions(); console.log('suggestions: ', suggestions)"
            @insert-task.camel.window="await fetchTasks(); await fetchSuggestions();")
            h2 Tasks:
            div(id="createTask")
                h3 create task 
                form(action="/task", method="post", @submit.prevent="await createTask($event.target)")
                    input(type="text", name="houseID", placeholder="House ID", required)
                    input(type="text", name="description" placeholder="Description" required)
                    input(type="submit" value="create")
            
            h3 Your tasks:
            button(@click="expandTasks = !expandTasks" x-text="expandTasks?'hide':'show' ") Hide/Show Suggestions
            div(id="taskContainer" x-show="expandTasks")
                template(x-for="task in tasks" :key="task.taskID")
                    div( style="border:2px solid black;margin-bottom:10px;" :id="$id('task.taskID')" x-data="{showCreateForm: false}") 
                        p houseid: 
                            span(x-text="task.houseID")
                        p taskID: 
                            span(x-text="task.taskID")
                        p description:
                            span(x-text="task.description")
                        b Appointees:
                        template(x-for="cont in task.contractors")
                            div(style="border:1px solid black;")
                                p name: 
                                    span(x-text="cont.name")
                                    span (
                                    span(x-text="cont.occupation")
                                    span )
                                p email: 
                                    span(x-text="cont.email")
                        div(x-show="!task.contractors") 
                            i No contractors have been invited for this task, try inviting one
                        
                        button(@click="showCreateForm= !showCreateForm") Open Invite Form
                        div(x-show="showCreateForm")
                            b Invite contractor:
                            form(action="/task/invite", @submit.prevent="await inviteContractor($event.target)")
                                input(type="email", name="email", placeholder="Contractor Email")
                                input(type="hidden", name="taskID" x-bind:value="task.taskID", value="")
                                input(type="submit", value="Invite")
                        
                        div(x-show="task.completed")
                            h3 COMPLETED!!!
                        button(@click="await destroy('task', task.taskID, $event.target)") DELETE TASK
            
            h3 Task Suggestions: 
            button(@click="expandSuggestions=!expandSuggestions" x-text="expandSuggestions?'hide':'show'") Hide/Show Suggestions
            div(id="suggestionContainer" x-show="expandSuggestions")
                template(x-for="s in suggestions" :key="s.suggestionID")
                    div(style="border:2px solid black;margin-bottom:10px;" x-bind:id="`suggestion-${s.suggestionID}`")    
                        h5(x-text="s.description")
                        p Submitted by: 
                        b(x-text="`${s.user.name} (${s.user.occupation})`")
                        i phone:
                            span(x-text="s.user.phone")
                        div(class="suggestionControls")
                            button(@click="await handleSuggestion(s.suggestionID, 'POST')") Approve
                            button(@click="await handleSuggestion(s.suggestionID, 'DELETE')") Reject
                        
                b(x-show="!suggestions") No suggestions
        div(x-show="tab=='#contractors'" x-data="{contractors: []}", x-init="await fetchContractors()"
            @insert-contractor.camel.window="await fetchContractors()")
            h2 Contractors:
            div(id="createContractor")
                h3 add contractor 
                form(action="/contractor", method="post", @submit.prevent="await createContractor($event.target)")
                    input(type="text", name="name", placeholder="Name", required)
                    input(type="email", name="email", placeholder="Email", required)
                    input(type="phone", name="phone", placeholder="Phone", required)
                    input(type="text", name="occupation", placeholder="Occupation", required)
                    input(type="submit", value="Create contractor")
            ul
                template(x-for="contractor in contractors" :key="contractor.contractorID")
                    div(:id="$id('contractor.contractorId')")
                        h3 name: 
                            span(x-text="contractor.name")
                        i occupation: 
                            span(x-text="contractor.occupation")
                        p phone: 
                            span(x-text="contractor.phone")

                        button(@click="await destroy('contractor', contractor.contractorID, $event.target)") DELETE CONTRACTOR

        script
            include scripts/user.js
            