extends template.pug 

block content 
    div(x-data="view();" x-init="await data(); modal=false;" @data-change.camel.window="await data()")

        //
            These are links used for tabs
            Sauce for this is https://talltips.novate.co.uk/tabbed-content-using-alpine-js 
        a(href="#" x-on:click.prevent="tab='#houses'; subtab=houseWrapper") houses 
        a(href="#" x-on:click.prevent="tab='#tasks'") tasks 
        a(href="#" x-on:click.prevent="tab='#contractors'") contractors 

        

            
        // This content is tabbed, right?!
        div( x-show='tab=="#houses"' x-data="{editHouse:false}")
            .tabBox
                a(href="#" @click.prevent="subtab='houseWrapper'") All houses
                a(href="#" x-show="house.houseID" @click.prevent="subtab='houseDetails'") Show one
                a(href="#" @click.prevent="subtab='form'; editHouse=false;") Form
            #houseWrapper(x-show="subtab=='houseWrapper'")
                h2.contentHeader Houses
                template(x-for="h in houses" :key="h.houseID")
                    div.houseCard(x-bind:id="`house-${h.houseID}`"
                                  @click="h.tasks = tasks.filter(t=>t.houseID == h.houseID); house = h; subtab='houseDetails'")
                        .houseInfo
                            h2(x-text="h.address")
                            p(x-text="h.name")
            #houseForm(x-show="subtab=='form'" )
                h2.contentHeader(x-text="editHouse? 'UPDATE HOUSE' : 'CREATE HOUSE'")
                form(action="/house", id="houseForm" method="post" 
                @submit.prevent=" await alterHouse($event.target, editHouse); subtab='houseDetails';")
                    input(type="text", name="address", placeholder="Address", x-bind:value="editHouse? house.address : ''")
                    input(type="text", name="description" placeholder="Description" x-bind:value="editHouse? house.description :''")
                    input(type="text", name="name", placeholder="Name" x-bind:value="editHouse? house.name : ''")
                    input(type="hidden", name="houseID", x-bind:value="editHouse? house.houseID : ''")
                    input(type="submit" value="create")
            #houseDetails(x-show="subtab=='houseDetails'")
                .houseInfo(style="width:90%; margin:auto;")
                    h2(x-text="house.address")
                    p
                        b Name: 
                        span(x-text="house.name")
                    p
                        b Description: 
                        span(x-text="house.description")
                    p 
                        b ID: #
                        span(x-text="house.houseID")
                    p
                        b Created at: 
                        span(x-text="new Date(house.created_at).toLocaleString()")
                    p 
                        b Last updated: 
                        span(x-text="new Date(house.last_edited).toLocaleString()")
                    .buttonBox(style="width:100%;")
                        button(@click="modal='deleteHouse'")
                            span.material-icons delete
                        button(@click="subtab='form'; editHouse=true;")
                            span.material-icons edit
       
        div(x-show="tab=='#tasks'" x-data= "{tasks : [], expandTasks:true, expandSuggestions:true}" x-init="await fetchTasks(); console.log('tasks: ', tasks); await fetchSuggestions(); console.log('suggestions: ', suggestions)"
            @insert-task.camel.window="await fetchTasks(); await fetchSuggestions();")
            h2 Tasks:
            div(id="createTask")
                h3 create task 
                form(action="/task", method="post", @submit.prevent="await createTask($event.target)")
                    input(type="text", name="houseID", placeholder="House ID", required)
                    input(type="text", name="description" placeholder="Description" required)
                    input(type="submit" value="create")
            
            h3 Your tasks:
            button(@click="expandTasks = !expandTasks" x-text="expandTasks?'hide':'show' ") Hide/Show Suggestions
            div(id="taskContainer" x-show="expandTasks")
                template(x-for="task in tasks" :key="task.taskID")
                    div( style="border:2px solid black;margin-bottom:10px;" :id="$id('task.taskID')" x-data="{showCreateForm: false}") 
                        p houseid: 
                            span(x-text="task.houseID")
                        p taskID: 
                            span(x-text="task.taskID")
                        p description:
                            span(x-text="task.description")
                        b Appointees:
                        template(x-for="cont in task.contractors")
                            div(style="border:1px solid black;")
                                p name: 
                                    span(x-text="cont.name")
                                    span (
                                    span(x-text="cont.occupation")
                                    span )
                                p email: 
                                    span(x-text="cont.email")
                        div(x-show="!task.contractors") 
                            i No contractors have been invited for this task, try inviting one
                        
                        button(@click="showCreateForm= !showCreateForm") Open Invite Form
                        div(x-show="showCreateForm")
                            b Invite contractor:
                            form(action="/task/invite", @submit.prevent="await inviteContractor($event.target)")
                                input(type="email", name="email", placeholder="Contractor Email")
                                input(type="hidden", name="taskID" x-bind:value="task.taskID", value="")
                                input(type="submit", value="Invite")
                        
                        div(x-show="task.completed")
                            h3 COMPLETED!!!
                        button(@click="await destroy('task', task.taskID, $event.target)") DELETE TASK
            
            h3 Task Suggestions: 
            button(@click="expandSuggestions=!expandSuggestions" x-text="expandSuggestions?'hide':'show'") Hide/Show Suggestions
            div(id="suggestionContainer" x-show="expandSuggestions")
                template(x-for="s in suggestions" :key="s.suggestionID")
                    div(style="border:2px solid black;margin-bottom:10px;" x-bind:id="`suggestion-${s.suggestionID}`")    
                        h5(x-text="s.description")
                        p Submitted by: 
                        b(x-text="`${s.user.name} (${s.user.occupation})`")
                        i phone:
                            span(x-text="s.user.phone")
                        div(class="suggestionControls")
                            button(@click="await handleSuggestion(s.suggestionID, 'POST')") Approve
                            button(@click="await handleSuggestion(s.suggestionID, 'DELETE')") Reject
                        
                b(x-show="!suggestions") No suggestions
        div(x-show="tab=='#contractors'" x-data="{contractors: []}", x-init="await fetchContractors()"
            @insert-contractor.camel.window="await fetchContractors()")
            h2 Contractors:
            div(id="createContractor")
                h3 add contractor 
                form(action="/contractor", method="post", @submit.prevent="await createContractor($event.target)")
                    input(type="text", name="name", placeholder="Name", required)
                    input(type="email", name="email", placeholder="Email", required)
                    input(type="phone", name="phone", placeholder="Phone", required)
                    input(type="text", name="occupation", placeholder="Occupation", required)
                    input(type="submit", value="Create contractor")
            ul
                template(x-for="contractor in contractors" :key="contractor.contractorID")
                    div(:id="$id('contractor.contractorId')")
                        h3 name: 
                            span(x-text="contractor.name")
                        i occupation: 
                            span(x-text="contractor.occupation")
                        p phone: 
                            span(x-text="contractor.phone")

                        button(@click="await destroy('contractor', contractor.contractorID, $event.target)") DELETE CONTRACTOR
        
        .modalContainer(x-show="modal")
            .confirmModal(x-show="modal=='deleteHouse'")
                h2.contentHeader Delete house
                    span(x-text="house.houseID")
                p.confirmContent Are you sure you want to delete this house
                .buttonBox(style="width:90%; margin:auto;")
                    button.destroyButton(@click="await destroy('house', house.houseID); modal=false; subtab='houseWrapper';") Yes
                    button.cancelButton(@click="modal=false;") No
                
        script
            include scripts/user.js
            